$orange: hsl(25, 97%, 53%);
$white: hsl(0, 0%, 100%);
$light-grey: hsl(217, 12%, 63%);
$medium-grey: hsl(216, 12%, 54%);
$dark-blue: hsl(213, 19%, 18%);
$very-dark-blue: hsl(216, 12%, 8%);
$error-color: hsl(0, 100%, 50%);
$font-family: 'Overpass', sans-serif;
$font-size: 0.9375rem;
$base-font-size: 16px;
$rem-base: 1rem;
$border-radius: rem(20px);
$padding: rem(32px);
$transition: 0.3s;
$mobile-width: 375px;
$tablet-width: 768px;
$desktop-width: 1024px;
$large-desktop-width: 1440px;